#!/usr/bin/make -f

include /usr/share/quilt/quilt.make

PKG = $(shell dh_listpackages)

%:
	dh $@

build: $(QUILT_STAMPFN)
clean: unpatch

override_dh_installdocs:
	dh_installdocs
	# Generate documentation
	rst2html <docs/overview.txt >debian/$(PKG)/usr/share/doc/$(PKG)/overview.html

